@using SodruzhestvoFinance.Helpers
@{
    ViewData["Title"] = "Home Page";
}

<p>
    <a asp-area="Employees" asp-controller="Employees" asp-action="Index" class="btn btn-primary">Сотрудники</a>
</p><div class="row">
    <div class="col-5">
        @Html.InputHandbook("idInput1", new { IdHandbook = 1, isReturnSelectValue = true })
    </div>
</div>